.users-display {
    padding-left: 3rem;
    padding-right: 3rem;
    margin-top: 2rem;

    &__heading {
        @include heading;
        margin-bottom: 2rem;
    }

    &__container {
        display: flex;
    }

    &__user-div {
        width: 28vw;
    }

    &__img {
        width: 25vw;
        height: 25vw;
        border-radius: 5px;
        cursor: pointer;
    }

    &__name {
        @include p-text;
    }

    &__city {
        @include light-p-text;
    }

    &__props-div {
        display: none;
    }
}