.users-display {
    padding-left: 3rem;
    padding-right: 3rem;
    margin-top: 2rem;

    &__heading {
        @include heading;
        margin-bottom: 2rem;
    }

    &__img {
        width: 30vw;
        height: 30vw;
        border-radius: 5px;
    }

    &__name {
        @include p-text;
    }

    &__city {
        @include light-p-text;
    }
}